<!doctype html>
<html>
<head>
    <title>Rename <%= title %></title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="topmount">
        <header>
            <h1><a href="/search/<%= title %>"><%= title %></a></h1>
            <%= meta %>
        </header>
    </div>
    <div id="body">
        <form id="renameForm" method="post">
            <label for="target">Rename to:</label>
            <input type="text"
                   id="targetInput"
                   name="target"
                   required
                   autofocus
                   pattern="^((?:[A-Z][a-z]+){2,})(?![^()\[\]]*[)\]])$"
                   title="CamelCase name"
                   value="<%= title %>" />
            <input type="checkbox"
                   id="link"
                   name="link"
                   title="Should try to leave a link" />
            <label for="link">Leave a link</label>
            <button type="submit">Move</button>
        </form>
    </div>
</body>
</html>
