<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="topmount">
        <header>
            <h1><a href="/search/%TITLE%"><%= title %></a></h1>
            <time id="metadata"><%= meta %></time>
        </header>
        <nav>
            <form action="/search">
                <input type="search" name="q" placeholder="Search this wiki" />

                <button type="submit">Search</button>
                <a class="navLink" href="/raw/<%= title %>">Source</a>
                <a class="navLink" href="/edit/<%= title %>">Edit</a>
                <a class="navLink" href="/rename/<%= title %>">Rename</a>
                <a class="navLink" href="/delete/<%= title %>"
                   onclick="return confirm('Are you sure? This is permament!')">Delete</a>
            </form>
        </nav>
    </div>
    <div id="body">
        <article>
            <%- content %>
        </article>
    </div>
</body>
</html>
